<template name="website_form">
  {{# if currentUser}}
    <a class="btn btn-default js-toggle-website-form" href="#" data-toggle="modal" data-target="#websites_add_form">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  {{/if}}

  <div class="modal fade" id="websites_add_form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-title">

        </div>
        <div class="modal-body">
            <form class="js-save-website-form" role="form">
              <div class="form-group">
                <input type="url" name="url" class="form-control" value="" placeholder="Site address" required>
              </div>
              <div class="form-group">
                <input type="text" name="title" class="form-control" value="" placeholder="Title" required>
              </div>
              <div class="form-group">
                <input type="text" name="description" class="form-control" value="" placeholder="Description" required>
              </div>
              <button type="submit" name="button" class="btn btn-success">add</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" name="button" data-dismiss="modal" class="btn btn-warning">cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
