<template name="website_item">
<li>
  <a href="{{pathFor 'website' _id=_id}}">{{title}}</a>
  <a href="{{url}}"><i class="glyphicon glyphicon-link"></i></a>
  <p>
    {{description}}
  </p>
  {{voted_up}}
  <a href="#" class="btn btn-default js-upvote">
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
  </a>
  <a href="#" class="btn btn-default js-downvote">
    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  </a>
  {{voted_down}}
  <!-- you will be putting your up and down vote buttons in here! -->
</li>
</template>
